.contact__section {
    margin-top: 13vh;
    padding-top: 17vh;
    padding-bottom: 25vh;
    .contact__container {
        display: flex;
        position: relative;
        margin-left: 17%;
        .bg__contact {
            position: absolute;
            font-size: 35rem;
            font-family: 'Helvetica Neue';
            font-weight: 500;
            color: $offWhite;
            opacity: .01;
            top: 5rem;
            left: -24rem;
        }
        .contact__header {
            h1 {
                font-family: 'Helvetica Neue';
                font-weight: 400;
                font-size: 6rem;
            }
            a { 
                text-decoration: none;
                color: currentColor;
                h2 {
                    font-weight: 300;
                    font-size: 1.8rem;
                    margin-left: 1%;
                    margin-top: 10px;
                }
            }
            
        }
        .contact__form {
            display: flex;
            width: 25vw;
            flex-direction: column;
            margin-top: 17%;
            margin-left: 25.2%;
            padding-bottom: 13vh;
            font-weight: 300;
            .text__field {
                margin-bottom: 20px;
                width: 100%;
                position: relative;
                height: 60px;
                overflow: hidden;
                input {
                    width: 100%;
                    height: 100%;
                    color: currentColor;
                    padding-top: 20px;
                    border: none;
                    background: none;
                    margin-top: -12px;
                    margin-left: -1px;
                    font-size: 1rem;
                    outline: none;
                    &:focus + .label-name .content-name,
                    &:valid + .label-name .content-name {
                        transform: translateY(-150%);
                        font-size: .9rem;
                    }
                    &:focus + .label-name::after,
                    &:valid + .label-name::after {
                        transform: translateX(0%);
                    }
                }
                label {
                    position: absolute;
                    bottom: 0px;
                    left: 0%;
                    margin-bottom: 1px;
                    width: 100%;
                    height: 100%;
                    font-size: 1.2rem;
                    pointer-events: none;
                    opacity: 0.9;
                    border-bottom: 1px solid currentColor;
                    &::after {
                        content: "";
                        position: absolute;
                        opacity: 1;
                        left: 0px;
                        bottom: -1px;
                        height: 100%;
                        width: 100%;
                        border-bottom: 2px solid currentColor;
                        transform: translateX(-100%);
                        transition: 0.5s;
                    }
                }
                textarea {
                    margin-top: 0px;
                    resize: none;
                    width: 100%;
                    height: 300px;
                    color: currentColor;
                    padding-top: 20px;
                    border: none;
                    background: none;
                    margin-top: 10px;
                    font-size: 1rem;
                    outline: none;
                    &:focus + .label-name .content-name,
                    &:valid + .label-name .content-name {
                        transform: translateY(-150%);
                        font-size: .9rem;
                    }
                    &:focus + .label-name::after,
                    &:valid + .label-name::after {
                        transform: translateX(0%);
                    }
                }
                .content-name {
                    position: absolute;
                    bottom: 5px;
                    margin-top: -10px;
                    left: 0px;
                    transition: all 0.3s ease;
                }
            }
        }
    }
    .send__icon {
        margin-left: auto;
        display: flex;
        margin-top: 30px;
        font-size: 3rem;
        transition: .5s;
    }
}