.footer__section {
    margin: 20vh auto;
    width: 64%;
    position: relative;
    .footer__info {
        width: 100%;
        display: flex;
        justify-content: space-between;
        position: absolute;
        left: -1rem;
        bottom: 10rem;
        .footer__logoInfo {
            .footer__logo {
                height: 50px;
                margin-top: -15px;
                font-family: 'Helvetica Neue';
                font-weight: 400;
                transition: .5s;
                font-size: 6rem;
            }
        }
        .footer__links {
            margin-bottom: -20px;
            p {
                font-weight: 300;
                font-size: 1rem;
                margin-bottom: 13px;
                opacity: 0.6;
                transition: .5s;
                &:hover {
                    opacity: 1;
                }
            }
        }
        .footer__projects {
            p {
                font-weight: 300;
                font-size: 1rem;
                margin-bottom: 13px;
                opacity: 0.6;
                transition: .5s;
                &:hover {
                    opacity: 1;
                }
            }
        }
        .footer__top {
            font-size: 1.3rem;
            font-weight: 300;
        }
    }
    .rights {
        display: flex;
        justify-content: center;
        font-weight: 300;
        font-size: 1rem;
        margin-top: 75px;
        padding-bottom: 20px;
    }
}