.hero__section {
    display: flex;
    flex-direction: column;
    padding-top: 23vh;
    background: none;
    overflow: hidden;
    .hero__text {
        width: 100%;
        display: flex;
        flex-direction: column;
        background: none;
        position: relative;
        margin-left: 10%;
        h1 {
            font-size: 7rem;
            background: none;
            font-family: $headerFont;
            font-weight: 500;
        }
        h2 {
            font-weight: 200;
            font-size: 1.3rem;
            margin-left: .4rem;
        }
        .scroll__btn {
            margin-left: .3rem;
        }
    }
    .wrapper {
        opacity: .6;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        width: 45%;
        margin-top: .7rem;
        margin-left: 1rem;
        transition: 0;
        h3 {
            font-weight: 200;
            font-size: 1.8rem;
            margin-top: -21px;
            margin-left: -6px;
            background: none;
            &:nth-child(1) {
                position: absolute;
                top: .05rem;
                left: 0;
            }
            &:nth-child(3) {
                margin-left: -.5rem;
                margin-top: 1.4rem;
            }
        }
        .dynamic__text {
            left: .35rem;
            position: absolute;
            width: 100%;
            margin-top: -6.1rem;
            height: 75px;
            overflow: hidden; 
            li {
                list-style: none;
                font-size: 1.8rem;
                margin-top: 2.05rem;
                margin-left: -25px;
                font-weight: 200;
                color: currentColor;
                position: relative;
                top: 1px;
                animation: mobslide 10s steps(2) infinite;
                z-index: 2;
                &::after {
                    color: currentColor;
                    content: "";
                    border-left: 2px solid currentColor;
                    background: $offWhite;
                    position: absolute;
                    height: 95%;
                    width: 100%;
                    left: 0;
                    margin-right: 5px;
                    padding-left: 2px;
                    animation: mobtyping 5s steps(12) infinite;
                }
            }
        }
    }
    .download__btn {
        margin-top: 3rem;
        background: none;
        margin-left: .5rem;
        z-index: 2;
        button {
            text-decoration: none;
            padding: .8rem 1.3rem;
            background-color: $offBlack;
            position: relative;
            transition: 300ms ease-in-out;
            color: $offWhite;
            border: 1px solid $offBlack;
            outline: none;
            text-decoration: none;
            font-size: 1.1rem;
            font-weight: 500;
            z-index: 1;
            border-radius: .5rem;
            a {
                color: $offWhite;
                transition: 300ms ease-in-out;
            }
            &::before {
                content: '';
                position: absolute;
                outline: none;
                border: none;
                top: 0;
                left: .1px;
                bottom: 0;
                right: 0;
                z-index: -1;
                border-radius: .5rem;
                background-color: $offWhite;
                transform: scaleX(0);
                transform-origin: left;
                transition: transform 300ms ease-in-out;
            }
            &:hover::before,
            &:focus::before {
                transform: scaleX(1);
            }
            &:hover a,
            &:focus a {
                color: $offBlack;
            }
        }
        .link {
            text-decoration: none;
            position: relative;
            z-index: 99;
        }
    }
    .scroll__btn {
        display: flex;
        align-content: center;
        justify-content: center;
        width: 30px;
        margin-top: 6rem;
        margin-bottom: 1rem;
        height: 50px;
        margin-left: 1rem;
        .mouse {
            display: flex;
            align-content: center;
            justify-content: center;
            padding: 9px 9px;
            height: 30px;
            border: 2px solid currentColor;
            border-radius: 25px;
            box-sizing: content-box;
            .scroller {
                width: 10px;
                height: 10px;
                border-radius: 25px;
                background-color: currentColor;
                animation-name: scroller;
                animation-duration: 3s;
                animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
                animation-iteration-count: infinite;
            }
        }
    }
}

body.dark-mode {
    .hero__section {
        .download__btn {
            button {
                background-color: $offWhite;
                border: 1px solid $offWhite;
                a {
                    color: $offBlack;
                }
                &::before {
                    background-color: $offBlack;
                }
                &:hover a,
                &:focus a {
                    color: $offWhite;
                }
            }
        }
    }
}
@keyframes scroller {
    0% {
        opacity: 0;
    }
    40% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(50%);
        opacity: 0;
    }
}

@keyframes mobtyping {
    40%,
    60% {
        left: calc(80%);
    }
    100% {
        left: 0;
    }
}

@keyframes mobslide {
    100% {
        top: -9.4rem;
    }
}

@media screen and (min-width: 768px) {
    .hero__section {
        padding-top: 22vh;
        .hero__text {
            margin-left: 16.5%;
            h1 {
                font-size: 9rem;
            }
            h2 {
                font-size: 1.5rem;
            }
        }
        .wrapper {
            width: 40%;
            margin-top: 0;
            h3 {
                font-size: 2rem;
            }
            .dynamic__text {
                left: .5rem;
                margin-top: -6.45rem;
                li {
                    font-size: 2rem;
                    animation: tabslide 10s steps(2) infinite;
                    &::after {
                        height: 95%;
                    }
                }
            }
        }
    }
}

@keyframes tabtyping {
    40%,
    60% {
        left: calc(70%);
    }
    100% {
        left: 0;
    }
}

@keyframes tabslide {
    100% {
        top: -10rem;
    }
}

@media screen and (min-width: 1312px) {
    .hero__section {
        display: flex;
        flex-direction: column;
        padding-top: 25vh;
        background: none;
        .hero__text {
            background: none;
            position: relative;
            margin-left: 17%;
            h2 {
                font-weight: 400;
            }
            h1 {
                font-size: 10.5rem;
                margin-left: -12px;
                margin-top: -10px;
                background: none;
                
                font-weight: 500;
            }
            h2 {
                margin-left: -5px;
            }
            .scroll__btn {
                display: none;
            }
        }
        .wrapper {
            display: flex;
            margin-top: .6rem;
            min-width: 50%;
            margin-left: 1rem;
            h3 {
                font-size: 2.7rem;
                display: flex;
                position: relative;
                &:nth-child(1) {
                    position: absolute;
                    left: -1rem;
                }
                &:nth-child(3) {
                    position: absolute;
                    margin-left: 22.75rem;
                    margin-top: 1.4rem;
                    width: 100%;
                }
            }
            .dynamic__text {
                left: .3rem;
                margin-top: 1.05rem;
                li {
                    font-size: 2.7rem;
                    margin-top: 7.5px;
                    margin-right: 20px;
                    top: 1px;
                    animation: slide 10s steps(2) infinite;
                    &::after {
                        animation: typing 5s steps(12) infinite;
                    }
                }
            }
        }
        .download__btn {
            margin-top: 6rem;
            button {
                padding: .7rem 1.8rem;
                margin-left: -.75rem;
                font-size: 1.2rem;
            }
            .link {

                text-decoration: none;
                position: relative;
                z-index: 99;
            }
            .scroll__btn {
                display: none;
            }
        }
    }
    
    @keyframes typing {
        40%,
        60% {
            left: calc(33.7%);
        }
        100% {
            left: 0;
        }
    }
    
    @keyframes slide {
        100% {
            top: -142px;
        }
    }
}

body.dark-mode {
    .wrapper {
        .dynamic__text {
            li {
                &::after {
                    color: currentColor;
                    content: "";
                    background: $offBlack;
                }
            }
        }
    }
    .download__btn {
        button {
            &:hover a,
            &:focus a {
                color: $offBlack;
            }
        }
    }
}