.overlay {
    background: none;
    .navbar {
        width: 100%;
        position: fixed;
        display: flex;
        height: 110px;
        justify-content: center;
        align-items: center;
        background: none;
        z-index: 10;
        .nav__logo {
            margin-top: 5px;
            height: 33px;
            margin-right: 50%;
            color: currentColor;
            width: auto;
            position: relative;
            background: none;
        }
        .nav__icons {
            background: none;
            display: flex;
            align-items: center;
            position: relative;
            .navbar__toggle {
                z-index: 99;
                display: flex;
                flex-direction: column;
                transition: 200ms;
                position: relative;
                .menu__bar {
                    display: block;
                    width: 26px;
                    height: 3px;
                    border-radius: 20px;
                    margin: 3px auto;
                    background-color: currentColor;
                    transition: all 0.3s ease-in-out;
                }
            }
            .navbar__toggle.active {
                .menu__bar:nth-child(2) {
                    opacity: 0;
                }
                .menu__bar:nth-child(1) {
                    transform: translateY(8px) rotate(135deg);
                    height: 3px;
                }
                .menu__bar:nth-child(3) {
                    height: 3px;
                    transform: translateY(-10px) rotate(-135deg);
                }
            }
            .toggle__icon {
                font-size: 1.8rem;
                margin-top: 5px;
                margin-right: 35px;
                background: none;
            }
        }
        .navbar__menu {
            display: none;
        }
        .navbar__menu.active {
            display: flex;
            width: 20%; 
            height: 30vh;
            flex-direction: column;
            align-items: center;
            text-align: center;
            position: fixed;
            z-index: 99;
            top: 10%;
            right: 5%;
            mix-blend-mode: color;
            transition: .5s;
            h1 {
                opacity: 0.3;
                font-family: 'Poppins';
                font-weight: 300;
                color: currentColor;
                transition: 200ms ease-in;
                &:hover {
                    opacity: 1;
                }
            }
        }
    }
    .socials {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: fixed;
        bottom: 0;
        left: 0;
        margin-left: 60px;
        .link {
            color: currentColor;
        }
        .linked__icon {
            font-size: 2.5rem;
        }
        .git__icon {
            margin-top: 10px;
            font-size: 2rem;
        }
        p {
            margin: 40px 0;
            padding-bottom: 5px;
            font-size: 1.3rem;
            font-weight: 400;
            transform: rotate(-90deg);
        }
        .bar {
            height: 175px;
            width: 2px;
            background-color: currentColor;
        }
    }
    .download__icon {
        position: fixed;
        bottom: 0;
        right: 0;
        margin-bottom: 125px;
        margin-right: 100px;
        font-size: 3rem;
        visibility: hidden;
        opacity: 0;
        transition: .5s;
        
    }
    .download__icon.active {
        visibility: visible;
        opacity: 1;
    }
    .link {
        color: currentColor;
    }
    
}

