.overlay {
    background: none;
    .navbar {
        position: fixed;
        display: flex;
        height: 17.5vh;
        width: 100%;
        z-index: 10;
        .navbar__container {
            width: 83%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 0 auto;
            .nav__logo {
                width: 52px;
                margin-top: 10px;
            }
            .navbar__toggle {
                display: none;
            }
            .navbar__toggle.active {
                .menu__bar:nth-child(2) {
                    opacity: 0;
                }
                .menu__bar:nth-child(1) {
                    transform: translateY(8px) rotate(135deg);
                    height: 3px;
                }
                .menu__bar:nth-child(3) {
                    height: 3px;
                    transform: translateY(-10px) rotate(-135deg);
                }
            }
            .toggle__icon {
                font-size: 1.8rem;
                margin-right: 35px;
                background: none;
            }
            .navbar__menu {
                display: flex;
                list-style: none;
                .navbar__item {
                    margin: 0 20px;
                    .navbar__links {
                        font-size: 1.2rem;
                        font-weight: 400;
                        position: relative;
                        &:before {
                            content: "";
                            position: absolute;
                            width: 0;
                            height: 4px;
                            bottom: -16px;
                            margin-left: -3px;
                            margin-bottom: 10px;
                            background-color: $offWhite;
                            visibility: hidden;
                            transition: 300ms ease-in-out;
                        }
                        &:hover:before {
                            display: flex;
                            justify-content: center;
                            visibility: visible;
                            width: 108%;
                        }
                    }
                }
            }
            .nav__button {
                background-color: $offWhite;
                color: $offBlack;
                outline: none;
                border: none;
                border-radius: 15px;
                padding: 9px 32px;
                font-size: .85rem;
                font-weight: 550;
                font-kerning: 1px;
                text-transform: uppercase;
                
            }
        }
    }
    .socials {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: fixed;
        bottom: 0;
        left: 9.5rem;
        z-index: 99;
        .link {
            color: currentColor;
        }
        .linked__icon {
            font-size: 2.4rem;
        }
        .git__icon {
            margin-top: 4px;
            font-size: 1.9rem;
            margin-bottom: -6px;
        }
        p {
            margin: 35px 0;
            padding-bottom: 5px;
            font-size: 1.1rem;
            font-weight: 400;
            transform: rotate(-90deg);
        }
        .bar {
            height: 23vh;
            width: 2px;
            background-color: currentColor;
        }
    }
    .download__icon {
        position: fixed;
        bottom: 40rem;
        right: 11.8rem;
        font-size: 3rem;
        visibility: hidden;
        opacity: 0;
        transition: 1s;
        z-index: 10;
    }
    .download__icon.active {
        visibility: visible;
        opacity: 1;
        bottom: 7rem;
    }
    .link {
        color: currentColor;
    }
    
}

@media screen and (max-width: 768px) {
    .overlay {
        background-color: purple;
        .navbar {
            .navbar__container {
                display: flex;
                justify-content: space-between;
                .navbar__menu {
                    display: none;
                }
                .navbar__menu.active {
                    display: flex;
                    width: 20%; 
                    height: 30vh;
                    flex-direction: column;
                    align-items: center;
                    text-align: center;
                    position: fixed;
                    z-index: 99;
                    top: 10%;
                    right: 5%;
                    mix-blend-mode: color;
                    transition: .5s;
                    h1 {
                        opacity: 0.3;
                        font-family: 'Poppins';
                        font-weight: 300;
                        color: currentColor;
                        transition: 200ms ease-in;
                        &:hover {
                            opacity: 1;
                        }
                    }
                }
                .navbar__toggle {
                    z-index: 99;
                    display: flex;
                    flex-direction: column;
                    transition: 200ms;
                    position: relative;
                    margin-right: 2.5rem;
                    .menu__bar {
                        display: block;
                        width: 26px;
                        height: 3px;
                        border-radius: 20px;
                        margin: 3px auto;
                        background-color: currentColor;
                        transition: all 0.3s ease-in-out;
                    }
                }
                .nav__button {
                    display: none;
                }
            }
        }
        .socials {
            display: flex;
            flex-direction: column;
            align-items: center;
            position: fixed;
            bottom: 0;
            left: 0;
            margin-left: 25px;
            .linked__icon {
                font-size: 2.1rem;
            }
            .git__icon {
                margin-top: 10px;
                font-size: 1.6rem;
            }
            p {
                font-size: 1.2rem;
            }
            .bar {
                height: 120px;
            }
        }
    }
}