.overlay {
    .navbar {
        position: fixed;
        background-color: rgba(12, 12, 12, 0.6);
        backdrop-filter: blur(.2rem);
        display: flex;
        height: 6.5rem;
        justify-content: center;
        align-items: center;
        width: 100%;
        z-index: 99;
        transition: 500ms;
        .navbar__container {
            width: 81%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 1.25rem auto 0 auto;
            .nav__logo {
                width: 3.25rem;
            }
            .navbar__toggle {
                margin-top: -.75rem;
                z-index: 100;
                width: 30px;
                height: 30px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                transition: 330ms ease-out;
                .bar {
                    border-radius: 5px;
                    width: 100%;
                    height: 3px;
                    background-color: currentColor;
                }
                .half {
                    width: 50%;
                }
                .start {
                    transition: transform 300ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
                    transform-origin: right;
                }
                .end {
                    align-self: flex-end;
                    transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
                    transform-origin: left;
                }
                
            }
            .navbar__toggle.active {
                transform: rotate(-45deg);
                .start {
                    transform: rotate(-90deg) translateX(1.5px);
                }
                .end {
                    transform: rotate(-90deg) translateX(-1.5px);
                }
            }
            .navbar__menu {
                display: flex;
                flex-direction: column;
                position: absolute;
                align-items: center;
                justify-content: center;
                transition: all .5s ease;
                background-color: $offBlack;
                right: 0;
                width: 100%;
                top: -1000px;
                opacity: 1;
                z-index: 99;
                .navbar__item {
                    margin: 3vh auto;
                    opacity: 1;
                    transition: 200ms ease-in;
                    &:hover {
                        cursor: none;
                    }
                    .navbar__links {
                        font-size: clamp(2.2rem, 4vw, 3.5rem);
                        font-weight: 200;
                        transition: 200ms ease-in;
                        position: relative;
                    }
                }
                .menu__socials {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    .li__icon {
                        font-size: 3.25rem;
                        margin: 0 1.5rem;
                        margin-top: 1.2rem;
                        
                        &:hover { 
                            opacity: 0.7;
                            cursor: none;
                        }
                    }
                    .gh__icon {
                        font-size: 2.75rem;
                        margin: 0 1.5rem;
                        margin-top: 1.2rem;
                        &:hover { 
                            opacity: 0.7;
                            cursor: none;
                        }
                    }
                }
            }
            .navbar__menu.active {
                background-color: $offBlack;
                top: 0;
                list-style: none;
                right: 0;
                opacity: 1;
                width: 100%;
                transition: all .5s ease;
                z-index: 99;
                height: 99vh;
                margin-top: -.75rem;
                .navbar__item {
                    margin: 3vh auto;
                    h1 {
                        font-size: 2.7rem;
                    }
                    .navbar__links {
                        font-size: clamp(2.2rem, 2vw, 3rem);
                        transition: 200ms ease-in;
                        font-weight: 200;
                        text-transform: uppercase;
                        &:hover {
                            opacity: 1;
                        }
                    }
                }
                .mobile__contact {
                    display: block;
                    opacity: 1;
                    background-color: $offWhite;
                    color: $offBlack;
                    margin: 5vh auto;
                    h1 {
                        font-family: 'Roboto Condensed', sans-serif;
                        font-weight: 400;
                        font-size: 2.2rem;
                        padding: 6px 13px;
                    }
                }
            }
            .nav__button__div {
                display: none;
            }
        }
    }
    .socials {
        display: none;
    }
    .download__cv {
        display: none;
    }
    .link {
        color: currentColor;
    }
}

.navbar.active {
    height: 2rem;
    box-shadow: 0 1px 5px rgba(0, 0, 0, .5);
}

@media screen and (min-width: 768px) {
    .overlay {
        .navbar {
            height: 7.5rem;
            .navbar__container {
                width: 90%;
                margin-top: 1rem;
                .nav__logo {
                    margin-left: 1rem;
                    width: 3.2rem;
                    margin-top: .4rem;
                }
                .navbar__toggle {
                    display: none;
                }
                .navbar__menu {
                    background: none;
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    justify-content: right;
                    list-style: none;
                    position: static;
                    margin-right: 1rem;
                    .navbar__item {
                        margin: 0 1rem;
                        .navbar__links {
                            font-size: 1rem;
                            font-weight: 400;
                            text-transform: uppercase;
                            opacity: 1;
                        }
                    }
                    .mobile__contact {
                        display: block;
                        margin-left: 1.25rem;
                        button {
                            padding: .4rem 1.6rem;
                            font-weight: 400;
                            border: 1px solid $offWhite;
                            color: $offWhite;
                            background: none;
                            outline: none;
                            font-size: 1rem;
                            z-index: 1;
                            position: relative;
                            &::before {
                                content: '';
                                position: absolute;
                                outline: none;
                                border: 1px solid $offWhite;
                                top: 0;
                                left: 0;
                                right: 0;
                                bottom: 0;
                                z-index: -1;
                                background-color: $offWhite;
                                transform: scaleX(0);
                                transform-origin: left;
                                transition: transform 300ms ease-in-out;
                            }
                            &:hover::before,
                            &:focus::before {
                                transform: scaleX(1);
                            }
                            &:hover,
                            &:focus {
                                opacity: 1;
                                color: $offBlack;
                            }
                        }
                    }
                    .menu__socials {
                        display: none;
                    }
                }
            }
        }
        .socials {
            display: flex;
            flex-direction: column;
            align-items: center;
            position: fixed;
            bottom: 0;
            left: 4.5%;
            z-index: 99;
            color: $offWhite;
            .link {
                color: currentColor;
            }
            .linked__icon {
                font-size: 2rem;
                &:hover {
                    opacity: 0.8;
                    transition: 200ms ease-in;
                    cursor: none;
                }
            }
            .git__icon {
                margin-top: 10px;
                font-size: 1.6rem;
                &:hover {
                    opacity: 0.8;
                    transition: 200ms ease-in;
                    cursor: none;
                }
            }
            p {
                margin: 30px 0;
                margin-bottom: 2.5rem;
                padding-bottom: 5px;
                font-size: .95rem;
                font-weight: 400;
                transform: rotate(-90deg);
            }
            .bar {
                height: 10rem;
                width: 2px;
                background-color: currentColor;
            }
        }
        .socials {
            display: flex;
            flex-direction: column;
            align-items: center;
            position: fixed;
            bottom: 0;
            left: 4.5%;
            z-index: 99;
            color: $offWhite;
            .link {
                color: currentColor;
            }
            .linked__icon {
                font-size: 2rem;
                &:hover {
                    opacity: 0.8;
                    transition: 200ms ease-in;
                    cursor: none;
                }
            }
            .git__icon {
                margin-top: 10px;
                font-size: 1.6rem;
                &:hover {
                    opacity: 0.8;
                    transition: 200ms ease-in;
                    cursor: none;
                }
            }
            p {
                margin: 30px 0;
                margin-bottom: 2.5rem;
                padding-bottom: 5px;
                font-size: .95rem;
                font-weight: 400;
                transform: rotate(-90deg);
            }
            .bar {
                height: 13rem;
                width: 2px;
                background-color: currentColor;
            }
        }
        .download__cv {
            display: flex;
            flex-direction: column;
            align-items: center;
            position: fixed;
            bottom: 40rem;
            right: -.3rem;
            z-index: 99;
            color: $offWhite;
            visibility: hidden;
            opacity: 0;
            transition: 2s ease;
            p {
                margin-bottom: 4rem;
                font-size: .95rem;
                font-weight: 400;
                transform: rotate(-90deg);
            }
            .bar {
                margin: 1rem 0;
                height: 10rem;
                width: 2px;
                background-color: currentColor;
            }
            .download__icon {
                width: 32px;
            }
        }
        .download__cv.active {
            visibility: visible;
            opacity: 1;
            bottom: 2.5rem;
        }
    }
}

.navbar.active {
    height: 5.5rem;
}

@media screen and (min-width: 1312px) {
    .overlay {
        .navbar {
            position: fixed;
            height: 11rem;
            display: flex;
            width: 100%;
            z-index: 99;
            .nav__hidden {
                transform: translateY(-12rem);
            }
            .navbar__container {
                width: 83%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-top: 2.5rem;
                .nav__logo {
                    width: 3.5rem;
                    margin-left: 0;
                    margin-top: .5rem;
                }
                .navbar__toggle {
                    display: none;
                }
                .navbar__menu {
                    display: flex;
                    list-style: none;
                    margin-left: .5rem;
                    margin-top: -.2rem;
                    justify-content: center;
                    .navbar__item {
                        margin: 0 20px;
                        .navbar__links {
                            font-size: 1.1rem;
                            font-weight: 400;
                            position: relative;
                        }
                    }
                    .mobile__contact {
                        display: none;
                    }
                    .menu__socials {
                        display: none;
                    }
                }
                .nav__button__div {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-left: 1.25rem;
                    margin-top: -.3rem;
                    h1 {
                        padding: .5rem 1.8rem;
                        font-weight: 400;
                        border: 1px solid $offWhite;
                        font-size: 1rem;
                    }
                }
            }
        }
        .socials {
            display: flex;
            flex-direction: column;
            align-items: center;
            position: fixed;
            bottom: 0;
            left: 8%;
            z-index: 99;
            color: $offWhite;
            .link {
                color: currentColor;
            }
            .linked__icon {
                font-size: 2.4rem;
            }
            .git__icon {
                margin-top: 4px;
                font-size: 1.9rem;
                margin-bottom: -6px;
            }
            p {
                margin: 35px 0;
                padding-bottom: 5px;
                font-size: 1.1rem;
                font-weight: 400;
                transform: rotate(-90deg);
            }
            .bar {
                height: 23vh;
                width: 2px;
                background-color: currentColor;
            }
        }
        .download__cv {
            display: flex;
            flex-direction: column;
            align-items: center;
            position: fixed;
            bottom: 40rem;
            right: 6%;
            z-index: 99;
            color: $offWhite;
            visibility: hidden;
            opacity: 0;
            transition: 2s ease;
            p {
                margin-bottom: 4rem;
                font-size: .95rem;
                font-weight: 400;
                transform: rotate(-90deg);
            }
            .bar {
                margin: 1rem 0;
                height: 10rem;
                width: 2px;
                background-color: currentColor;
            }
            .download__icon {
                width: 32px;
            }
        }
        .download__cv.active {
            visibility: visible;
            opacity: 1;
            bottom: 2.5rem;
        }
    }
    .navbar.active {
        height: 6.75rem;
    }
    
}



.nav__hidden {
    transform: translateY(-8rem);
}