.projects__section {
    margin-top: 30vh;
    display: flex;
    margin-left: 17.5%;
    flex-direction: column;
    .projects__header {
        padding-top: 20vh;
        h1 {
            font-weight: 400;
            font-family: 'Helvetica Neue';
            font-size: 7.5rem;
        }
    }
    .projects {
        margin-top: 100px;
        padding-bottom: 100px;
        display: grid;
        width: 75%;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 50px;
        grid-row-gap: 50px;
    }
    .more__header {
        margin-top: 75px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: .5s;
        opacity: 0.6;
        h1 {
            font-family: 'Poppins';
            font-weight: 200;
            font-size: 2rem;
        }
        .project__arrow {
            margin-left: 2rem;
            font-size: 2.7rem;
            transition: .5s;
        }
        &:hover {
            opacity: 1;
            .project__arrow {
                margin-left: 4rem;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .projects__section {
        margin-top: 30vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-right: 0;
        margin-left: 5px;
        .projects__header {
            padding-top: 20vh;
            h1 {
                font-weight: 250;
                font-size: 4rem;
            }
        }
    }
}