.skills__section {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 3rem;
    position: relative;
    .bg__skills {
        display: block;
        position: absolute;
        font-size: 10rem;
        font-family: 'Roboto Condensed', sans-serif;
        font-weight: 500;
        color: $offWhite;
        opacity: .025;
        top: 10rem;
        left: -7rem;
    }
    .skills__header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        h1 {
            font-size: $mobileHeaderFontSize;
            width: 70%;
            font-family: 'Roboto Condensed', sans-serif;
        }
        p {
            text-align: center;
            font-weight: 200;
            margin-top: 2.5rem;
            width: 60%;
            font-size: $mobileBodyFontSize;
        }
    }
    .skills__container {
        width: 100%;
        display: flex;
        flex-direction: column;
        position: relative;
        justify-content: center;
        align-items: center;
        margin-left: 0;
        margin-top: 7rem;
        .skills__web {
            width: 70%;
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 100%;
            margin-bottom: 13.5vh;
            text-align: center;
            border: 3px solid $offWhite;
            border-radius: 2px;
            .web__icon {
                position: relative;
                top: -3rem;
                width: 7rem;
                background: none;
            }
            .web__header {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin-top: -2rem;
                h2 {
                    font-family: 'Roboto Condensed', sans-serif;
                    font-weight: 200;
                    margin-top: .8rem;
                    font-size: 2.25rem;
                }
                p {
                    margin-top: 20px;
                    font-size: .9rem;
                    width: 75%;
                    font-weight: 300;
                }
            }
            .web__skills {
                position: relative;
                width: 100%;
                h3 {
                    margin-top: 1.5rem;
                    font-size: 1.5rem;
                    font-weight: 300;
                    font-family: 'Roboto Condensed', sans-serif;
                }
                .web__tools {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    grid-column-gap: 1rem;
                    grid-row-gap: 2.5rem;
                    justify-content: center;
                    align-items: center;
                    margin: 3rem auto 4rem auto;
                    width: 60%;
                    height: 100%;
                    .html {
                        .html-icon {
                            width: 55%;
                        }
                        h2 {
                            margin-top: .5rem;
                            font-size: 1rem;
                            font-weight: 300;
                        }
                    }
                    .javascript {
                        .js-icon {
                            width: 60%;
                        }
                        h2 {
                            margin-top: .65rem;
                            font-size: 1rem;
                            font-weight: 300;
                        }
                    }
                    .css {
                        .css-icon {
                            width: 50%;
                        }
                        h2 {
                            margin-top: .5rem;
                            font-size: 1rem;
                            font-weight: 300;
                        }
                    }
                    .react {
                        .react-icon {
                            width: 58%;
                        }
                        h2 {
                            margin-top: .5rem;
                            font-size: 1rem;
                            font-weight: 300;
                        }
                    }
                }
            }
        }
        .bg__skills2 {
            display: block;
            font-size: 10rem;
            top: 35rem;
            left: 4rem;
            position: absolute;
            font-family: 'Roboto Condensed', sans-serif;
            font-weight: 500;
            color: $offWhite;
            opacity: .025;
        }
        .skills__ui {
            width: 70%;
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 100%;
            margin-bottom: 13.5vh;
            text-align: center;
            border: 3px solid $offWhite;
            border-radius: 2px;
            .ui__icon {
                position: relative;
                top: -3rem;
                width: 7rem;
                background: none;
            }
            .ui__header {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin-top: -2rem;
                h2 {
                    font-family: 'Roboto Condensed', sans-serif;
                    font-weight: 200;
                    margin-top: .8rem;
                    font-size: 2.25rem;
                }
                p {
                    margin-top: 20px;
                    font-size: .9rem;
                    width: 75%;
                    font-weight: 300;
                }
            }
            .ui__skills {
                position: relative;
                width: 100%;
                h3 {
                    margin-top: 1.5rem;
                    font-size: 1.5rem;
                    font-weight: 300;
                    font-family: 'Roboto Condensed', sans-serif;
                }
                .ui__tools {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    grid-column-gap: 1rem;
                    grid-row-gap: 2.5rem;
                    justify-content: center;
                    align-items: center;
                    margin: 3rem auto 4rem auto;
                    width: 60%;
                    height: 100%;
                    .adobe-xd {
                        .xd-icon {
                            width: 55%;
                        }
                        h2 {
                            margin-top: .5rem;
                            font-size: 1rem;
                            font-weight: 300;
                        }
                    }
                    .figma {
                        .figma-icon {
                            width: 60%;
                        }
                        h2 {
                            margin-top: .65rem;
                            font-size: 1rem;
                            font-weight: 300;
                        }
                    }
                    .paper {
                        .paper-icon {
                            width: 50%;
                        }
                        h2 {
                            margin-top: .5rem;
                            font-size: 1rem;
                            font-weight: 300;
                        }
                    }
                    .sketch {
                        .sketch-icon {
                            width: 58%;
                        }
                        h2 {
                            margin-top: .5rem;
                            font-size: 1rem;
                            font-weight: 300;
                        }
                    }
                }
            }
        }
        .skills__design {
            width: 70%;
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 100%;
            margin-bottom: 13.5vh;
            text-align: center;
            border: 3px solid $offWhite;
            border-radius: 2px;
            .gd__icon {
                position: relative;
                top: -3rem;
                width: 7rem;
                background: none;
            }
            .gd__header {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin-top: -2rem;
                h2 {
                    font-family: 'Roboto Condensed', sans-serif;
                    font-weight: 200;
                    margin-top: .8rem;
                    font-size: 2.25rem;
                }
                p {
                    margin-top: 20px;
                    font-size: .9rem;
                    width: 75%;
                    font-weight: 300;
                }
            }
            .gd__skills {
                position: relative;
                width: 100%;
                h3 {
                    margin-top: 1.5rem;
                    font-size: 1.5rem;
                    font-weight: 300;
                    font-family: 'Roboto Condensed', sans-serif;
                }
                .gd__tools {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    grid-column-gap: 1rem;
                    grid-row-gap: 2.5rem;
                    justify-content: center;
                    align-items: center;
                    margin: 3rem auto 3.5rem auto;
                    width: 60%;
                    height: 100%;
                    .illustrator {
                        .illustrator-icon {
                            width: 55%;
                        }
                        h2 {
                            margin-top: .5rem;
                            font-size: 1rem;
                            font-weight: 300;
                        }
                    }
                    .photoshop {
                        .photoshop-icon {
                            width: 55%;
                        }
                        h2 {
                            margin-top: .5rem;
                            font-size: 1rem;
                            font-weight: 300;
                        }
                    }
                    .indesign {
                        .indesign-icon {
                            width: 55%;
                        }
                        h2 {
                            margin-top: .5rem;
                            font-size: 1rem;
                            font-weight: 300;
                        }
                    }
                }
            }
        }
        .bg__skills3 {
            display: block;
            font-size: 10rem;
            top: 80rem;
            right: 4rem;
            position: absolute;
            font-family: 'Roboto Condensed', sans-serif;
            font-weight: 500;
            color: $offWhite;
            opacity: .025;
        }
    }
}


@media screen and (min-width: 768px) {
    .skills__section {
    
    }
}

@media screen and (min-width: 1312px) {
    .skills__section {
        width: 100%;
        display: flex;
        justify-content: center;
        .skills__header {
            justify-content: flex-start;
            align-items: flex-start;
            text-align: left;
            width: 65%;
            margin: 0 auto 5rem auto;
            h1 {
                font-size: $desktopHeaderFontSize;
                width: 100%;
            }
            p {
                font-size: $desktopBodyFontSize;
                text-align: left;
                margin-top: 1rem;
                width: 100%;
            }
        }
        .skills__container {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-column-gap: 10%;
            margin: 8rem auto 0 auto;
            width: 65%;
            .skills__web {
                width: 100%;
                .web__icon {
                    width: 6.5rem;
                }
            }
            .skills__ui {
                width: 100%;
                .ui__icon {
                    width: 6.5rem;
                }
            }
            .skills__design {
                width: 100%;
                .gd__icon {
                    width: 6.5rem;
                }
            }
        }
    }
}