.toggle__container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -.6rem;
    margin-right: 2rem;
    .toggle {
        height: 0;
        width: 0;
        visibility: hidden;
        color: currentColor;
        &:active::after {
            width: 100px;
        }
        &:checked  {
            + label {
                background: $offBlack;
                &::after {
                    left: calc(100% - 5px);
                    transform: translateX(-100%);
                }
            }
        }
        
    }
    label {
        text-indent: -9999px;
        width: 2.75rem;
        height: 1.4rem;
        background-color: currentColor;
        display: block;
        border-radius: 50px;
        position: relative;
        &::after {
            content: '';
            position: absolute;
            top: 4px;
            left: 5px;
            width: .8rem;
            height: .8rem;
            background: $offWhite;
            border-radius: 90px;
            transition: 0.3s;
        }
        &:hover {
            cursor: none;
        }
    }
    
}

body.dark-mode {
    .toggle {
        &:checked {
            + label {
                background: $offWhite;
            }
        }
    }
    label {
        &::after {
            background: $offBlack;
        }
    }
}

@media screen and (min-width: 768px) {
    .toggle__container {
        margin-top: 0.07rem;
    }
}

@media screen and (min-width: 1312px) {
    .toggle__container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: -0.5rem;
        margin-right: 1rem;
        .toggle {
            height: 0;
            width: 0;
            visibility: hidden;
            color: currentColor;
            &:active::after {
                width: 130px;
            }
            &:checked  {
                + label {
                    background: $offBlack;
                    &::after {
                        left: calc(100% - 5px);
                        transform: translateX(-100%);
                    }
                }
            }
            
        }
        label {
            text-indent: -9999px;
            width: 3rem;
            height: 1.5rem;
            background-color: currentColor;
            display: block;
            border-radius: 100px;
            position: relative;
            &::after {
                content: '';
                position: absolute;
                top: 5px;
                left: 5px;
                width: .9rem;
                height: .9rem;
                background: $offWhite;
                border-radius: 90px;
                transition: 0.3s;
            }
            &:hover {
                cursor: none;
            }
        }
        
    }
    
    body.dark-mode {
        .toggle {
            &:checked {
                + label {
                    background: $offWhite;
                }
            }
        }
        label {
            &::after {
                background: $offBlack;
            }
        }
    }
}