@import url('https://fonts.googleapis.com/css2?family=Poppins:weight@300;400;700;&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

$offBlack: #0c0c0c;
$offWhite: #fcfcfc;

@import './navOverlay';
@import './home';
@import './about';
@import './projects';
@import './contact';
@import './footer';
@import './pyre';
@import './skills';
@import './project';

* {
    margin: 0;
    font-family: 'Poppins';
    scroll-behavior: smooth;
    cursor: none;
    ::-webkit-scrollbar {
        display: none;
    }
    
}

.border {
    z-index: 2;
    position: fixed;
    left: 3.4%;
    overflow: auto;
    height: 95.5vh;
    width: 90.5vw;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    justify-content: center;
    border: 23px solid $offWhite;
    background: transparent;
    pointer-events: none;
}

body {
    background-color: $offBlack;
    color: $offWhite;
}

.cursor {
    width: 30px;
    height: 30px;
    border: 1px solid currentColor;
    opacity: 1;
    border-radius: 50%;
    position: fixed;
    z-index: 100;
    animation: cursorAnim 2s infinite alternate;
    pointer-events: none;
}

.link-focus {
    border: 1px solid currentColor;
    opacity: 0.4;
    transform: scale(2);
    animation: none;
    background-color: currentColor;
}


@keyframes cursorAnim {
    from {
        transform: scale(1.2);
    }
    to {
        transform: scale(.7);
    }
}

