@import url("https://fonts.googleapis.com/css2?family=Poppins:weight@300;400;700;&display=swap");
.overlay {
  background: none;
}

.overlay .navbar {
  width: 100%;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 110px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: none;
  z-index: 10;
}

.overlay .navbar .nav__logo {
  margin-top: 5px;
  height: 33px;
  margin-right: 55%;
  color: currentColor;
  width: auto;
  position: relative;
  background: none;
}

.overlay .navbar .nav__icons {
  background: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.overlay .navbar .nav__icons .navbar__toggle {
  z-index: 99;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: 200ms;
  transition: 200ms;
  position: relative;
}

.overlay .navbar .nav__icons .navbar__toggle .menu__bar {
  display: block;
  width: 26px;
  height: 3px;
  border-radius: 20px;
  margin: 3px auto;
  background-color: currentColor;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.overlay .navbar .nav__icons .navbar__toggle.active .menu__bar:nth-child(2) {
  opacity: 0;
}

.overlay .navbar .nav__icons .navbar__toggle.active .menu__bar:nth-child(1) {
  -webkit-transform: translateY(8px) rotate(135deg);
          transform: translateY(8px) rotate(135deg);
  height: 3px;
}

.overlay .navbar .nav__icons .navbar__toggle.active .menu__bar:nth-child(3) {
  height: 3px;
  -webkit-transform: translateY(-10px) rotate(-135deg);
          transform: translateY(-10px) rotate(-135deg);
}

.overlay .navbar .nav__icons .toggle__icon {
  font-size: 1.8rem;
  margin-top: 5px;
  margin-right: 35px;
  background: none;
}

.overlay .navbar .navbar__menu {
  display: none;
}

.overlay .navbar .navbar__menu.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 20%;
  height: 30vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  position: fixed;
  z-index: 99;
  top: 10%;
  right: 5%;
  mix-blend-mode: color;
  -webkit-transition: .5s;
  transition: .5s;
}

.overlay .navbar .navbar__menu.active h1 {
  opacity: 0.3;
  font-family: 'Poppins';
  font-weight: 300;
  color: currentColor;
  -webkit-transition: 200ms ease-in;
  transition: 200ms ease-in;
}

.overlay .navbar .navbar__menu.active h1:hover {
  opacity: 1;
}

.overlay .socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  margin-left: 60px;
}

.overlay .socials .link {
  color: currentColor;
}

.overlay .socials .linked__icon {
  font-size: 2.5rem;
}

.overlay .socials .git__icon {
  margin-top: 10px;
  font-size: 2rem;
}

.overlay .socials p {
  margin: 40px 0;
  padding-bottom: 5px;
  font-size: 1.3rem;
  font-weight: 400;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.overlay .socials .bar {
  height: 175px;
  width: 2px;
  background-color: currentColor;
}

.overlay .download__icon {
  position: fixed;
  bottom: 0;
  right: 0;
  margin-bottom: 125px;
  margin-right: 100px;
  font-size: 3rem;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: .5s;
  transition: .5s;
}

.overlay .download__icon.active {
  visibility: visible;
  opacity: 1;
}

.overlay .link {
  color: currentColor;
}

@media screen and (max-width: 768px) {
  .overlay {
    background-color: purple;
  }
  .overlay .navbar .nav__logo {
    width: 2.7rem;
  }
  .overlay .socials {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    margin-left: 25px;
  }
  .overlay .socials .linked__icon {
    font-size: 2.1rem;
  }
  .overlay .socials .git__icon {
    margin-top: 10px;
    font-size: 1.6rem;
  }
  .overlay .socials p {
    font-size: 1.2rem;
  }
  .overlay .socials .bar {
    height: 120px;
  }
}

.hero__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 20vh;
  background: none;
}

.hero__section .hero__text {
  background: none;
  position: relative;
  margin-left: calc(14.5%);
}

.hero__section .hero__text h2 {
  font-weight: 200;
  font-size: 2.2rem;
  background: none;
}

.hero__section .hero__text h1 {
  font-weight: 200;
  font-size: 10.5rem;
  margin-left: -12px;
  margin-top: -10px;
  background: none;
}

.hero__section .hero__text h3 {
  font-weight: 200;
  font-size: 2.4rem;
  margin-top: -15px;
  margin-left: -6px;
  background: none;
}

.hero__section .download__btn {
  position: absolute;
  right: 12%;
  margin-top: 80px;
  background: none;
}

.hero__section .download__btn button {
  text-decoration: none;
  padding: 10px 25px;
  background-color: inherit;
  position: relative;
  -webkit-transition: all .35s;
  transition: all .35s;
  border: 1px solid #fcfcfc;
  text-decoration: none;
  font-size: 1.2rem;
  border-radius: 10px;
  font-weight: 400;
}

.hero__section .download__btn button::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  -webkit-transition: .35s;
  transition: .35s;
  background: #0c0c0c;
  border-radius: 10px;
}

.hero__section .download__btn button:hover {
  color: #fcfcfc;
}

.hero__section .download__btn button:hover:after {
  width: 100%;
}

.hero__section .download__btn .link {
  color: currentColor;
  text-decoration: none;
  position: relative;
  z-index: 2;
}

.hero__section p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  bottom: 0;
  left: 50%;
  right: 50%;
  margin-bottom: 100px;
  font-size: 1.7rem;
}

.about__section {
  margin-top: 36vh;
  margin-left: calc(14.5%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about__section .about__header {
  margin-top: 21vh;
}

.about__section .about__header h1 {
  font-weight: 200;
  font-size: 8rem;
}

.about__section p {
  font-size: 1.1rem;
  margin-top: 20px;
  font-weight: 300;
  width: 45%;
}

.about__section img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  right: 0;
  margin-right: 14%;
  margin-top: 16%;
  width: 23%;
  min-width: 300px;
  height: auto;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: .5s;
  transition: .5s;
}

.projects__section {
  margin-top: 30vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 50px;
}

.projects__section .projects__header {
  padding-top: 20vh;
}

.projects__section .projects__header h1 {
  font-weight: 250;
  font-size: 8rem;
}

.projects__section .projects {
  margin-top: 50px;
  padding-bottom: 100px;
}

.projects__section .projects .project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 100px;
  opacity: 0.8;
  -webkit-transition: .5s;
  transition: .5s;
}

.projects__section .projects .project:nth-child(1):hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  opacity: 1;
}

.projects__section .projects .project:nth-child(1):hover .project__header {
  margin-right: 100px;
}

.projects__section .projects .project:nth-child(2):hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  opacity: 1;
}

.projects__section .projects .project:nth-child(2):hover .project__header {
  margin-left: 100px;
}

.projects__section .projects .project:nth-child(3):hover:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  opacity: 1;
}

.projects__section .projects .project:nth-child(3):hover:hover .project__header {
  margin-right: 100px;
}

.projects__section .projects .project:nth-child(4):hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  opacity: 1;
}

.projects__section .projects .project:nth-child(4):hover .project__header {
  margin-left: 100px;
}

.projects__section .projects .project .project__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: .5s;
  transition: .5s;
}

.projects__section .projects .project .project__header h1 {
  -webkit-transition: .5s;
  transition: .5s;
  font-weight: 200;
  font-size: 4rem;
  margin: 0 30px;
}

.projects__section .projects .project .project__header .project__arrow {
  font-size: 5rem;
  stroke-width: 1rem;
  font-weight: 300px;
}

.projects__section .projects .project p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 500px;
  font-weight: 300;
  font-size: 1.1rem;
  text-align: center;
  margin-top: 20px;
  -webkit-transition: .5s;
  transition: .5s;
}

.projects__section .more__header {
  margin-top: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: .5s;
  transition: .5s;
  opacity: 0.6;
  margin-left: 2%;
}

.projects__section .more__header h1 {
  font-family: 'Poppins';
  font-weight: 200;
  font-size: 2rem;
}

.projects__section .more__header .project__arrow {
  margin-left: 2rem;
  font-size: 2.7rem;
  -webkit-transition: .5s;
  transition: .5s;
}

.projects__section .more__header:hover {
  opacity: 1;
}

.projects__section .more__header:hover .project__arrow {
  margin-left: 4rem;
}

@media screen and (max-width: 768px) {
  .projects__section {
    margin-top: 30vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 0;
    margin-left: 5px;
  }
  .projects__section .projects__header {
    padding-top: 20vh;
  }
  .projects__section .projects__header h1 {
    font-weight: 250;
    font-size: 4rem;
  }
}

.contact__section {
  margin-top: 11vh;
  padding-top: 17vh;
  padding-bottom: 20vh;
}

.contact__section .contact__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 14%;
}

.contact__section .contact__container .contact__header h1 {
  font-family: 'Poppins';
  font-weight: 200;
  font-size: 8rem;
}

.contact__section .contact__container .contact__header a {
  text-decoration: none;
  color: currentColor;
}

.contact__section .contact__container .contact__header a h2 {
  font-family: 'Poppins';
  font-weight: 200;
  font-size: 2rem;
  margin-left: 1%;
}

.contact__section .contact__container .contact__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 25vw;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 17%;
  margin-left: 17%;
  padding-bottom: 13vh;
  font-weight: 300;
}

.contact__section .contact__container .contact__form .text__field {
  margin-bottom: 20px;
  width: 100%;
  position: relative;
  height: 60px;
  overflow: hidden;
}

.contact__section .contact__container .contact__form .text__field input {
  width: 100%;
  height: 100%;
  color: currentColor;
  padding-top: 20px;
  border: none;
  background: none;
  margin-top: -12px;
  margin-left: -1px;
  font-size: 1rem;
  outline: none;
}

.contact__section .contact__container .contact__form .text__field input:focus + .label-name .content-name,
.contact__section .contact__container .contact__form .text__field input:valid + .label-name .content-name {
  -webkit-transform: translateY(-150%);
          transform: translateY(-150%);
  font-size: .9rem;
}

.contact__section .contact__container .contact__form .text__field input:focus + .label-name::after,
.contact__section .contact__container .contact__form .text__field input:valid + .label-name::after {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.contact__section .contact__container .contact__form .text__field label {
  position: absolute;
  bottom: 0px;
  left: 0%;
  margin-bottom: 3px;
  width: 100%;
  height: 100%;
  pointer-events: none;
  border-bottom: 1px solid currentColor;
}

.contact__section .contact__container .contact__form .text__field label::after {
  content: "";
  position: absolute;
  left: 0px;
  bottom: -1px;
  height: 100%;
  width: 100%;
  border-bottom: 2px solid currentColor;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.contact__section .contact__container .contact__form .text__field textarea {
  margin-top: 0px;
  resize: none;
  width: 100%;
  height: 300px;
  color: currentColor;
  padding-top: 20px;
  border: none;
  background: none;
  margin-top: 10px;
  font-size: 1rem;
  outline: none;
}

.contact__section .contact__container .contact__form .text__field textarea:focus + .label-name .content-name,
.contact__section .contact__container .contact__form .text__field textarea:valid + .label-name .content-name {
  -webkit-transform: translateY(-150%);
          transform: translateY(-150%);
  font-size: .9rem;
}

.contact__section .contact__container .contact__form .text__field textarea:focus + .label-name::after,
.contact__section .contact__container .contact__form .text__field textarea:valid + .label-name::after {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.contact__section .contact__container .contact__form .text__field .content-name {
  position: absolute;
  bottom: 5px;
  margin-top: -10px;
  left: 0px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.contact__section .send__icon {
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
  font-size: 3rem;
  -webkit-transition: .5s;
  transition: .5s;
}

.footer__section {
  margin: 15vh auto;
  width: 72%;
  border-top: 1px solid currentColor;
}

.footer__section .footer__info {
  margin-top: 50px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.footer__section .footer__info .footer__logoInfo .footer__logo {
  height: 50px;
  opacity: 0.6;
  -webkit-transition: .5s;
  transition: .5s;
}

.footer__section .footer__info .footer__logoInfo .footer__logo:hover {
  opacity: 1;
}

.footer__section .footer__info .footer__links {
  margin-bottom: -20px;
}

.footer__section .footer__info .footer__links p {
  font-weight: 300;
  font-size: 1rem;
  margin-bottom: 15px;
  opacity: 0.6;
  -webkit-transition: .5s;
  transition: .5s;
}

.footer__section .footer__info .footer__links p:hover {
  opacity: 1;
}

.footer__section .footer__info .footer__projects p {
  font-weight: 300;
  font-size: 1rem;
  margin-bottom: 15px;
  opacity: 0.6;
  -webkit-transition: .5s;
  transition: .5s;
}

.footer__section .footer__info .footer__projects p:hover {
  opacity: 1;
}

.footer__section .footer__info .footer__top {
  font-size: 1.3rem;
  font-weight: 300;
}

.footer__section .rights {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 300;
  font-size: 1rem;
  margin-top: 75px;
  padding-bottom: 20px;
}

.pyre__page {
  padding-top: 7%;
}

.pyre__page .pyre__container {
  width: 73%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pyre__page .pyre__container .pyre__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.pyre__page .pyre__container .pyre__info .pyre__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pyre__page .pyre__container .pyre__info .pyre__header h1 {
  font-size: 5rem;
  font-weight: 200;
}

.pyre__page .pyre__container .pyre__info .pyre__header img {
  margin-left: 50px;
  height: 65px;
}

.pyre__page .pyre__container .pyre__info p {
  margin-top: 20px;
  font-size: 1.15rem;
  font-weight: 200;
  width: 75%;
}

.pyre__page .pyre__container .pyre__info h3 {
  margin-top: 40px;
  font-size: 1.1rem;
  font-weight: 300;
}

.pyre__page .pyre__container .pyre__info ul {
  margin-top: 25px;
  padding: 0;
  list-style: none;
  font-weight: 300;
}

.pyre__page .pyre__container .pyre__info .pyre__buttons {
  margin-top: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pyre__page .pyre__container .pyre__info .pyre__buttons a {
  text-decoration: none;
}

.pyre__page .pyre__container .pyre__info .pyre__buttons a button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8px 25px;
  font-size: 1.1rem;
  font-weight: 400;
  margin-right: 30px;
  border-radius: 10px;
  outline: none;
  border: 1px solid currentColor;
  -webkit-transition: 200ms ease-in;
  transition: 200ms ease-in;
}

.pyre__page .pyre__container .pyre__info .pyre__buttons a button .icon {
  font-size: 1.7rem;
  margin-right: 10px;
}

.pyre__page .pyre__container .pyre__info .pyre__buttons a button:hover {
  background-color: #0c0c0c;
  color: #fcfcfc;
}

.pyre__page .pyre__container .pyre__images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 125px;
}

.pyre__page .pyre__container .pyre__images .pyre__1 {
  width: 90%;
}

.pyre__page .pyre__container .pyre__images .pyre__2 {
  margin-top: -200px;
  margin-left: 235px;
  width: 80%;
}

* {
  margin: 0;
  font-family: 'Poppins';
  scroll-behavior: smooth;
  cursor: none;
}

* ::-webkit-scrollbar {
  display: none;
}

body {
  background-color: #fcfcfc;
  color: #0c0c0c;
  -webkit-transition: .5s;
  transition: .5s;
}

body.dark-mode {
  background-color: #0c0c0c;
  color: #fcfcfc;
}

body.dark-mode .about__image img {
  -webkit-filter: brightness(0.8);
          filter: brightness(0.8);
}

body.dark-mode .download__btn button {
  border: 1px solid #0c0c0c;
}

body.dark-mode .download__btn button::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #fcfcfc;
  font-weight: 500;
}

body.dark-mode .download__btn button:hover {
  color: #0c0c0c;
}

body.dark-mode .download__btn button:hover:after {
  width: 100%;
  border: 1px solid currentColor;
}

body.dark-mode .pyre__buttons button {
  background: none;
  border: 1px solid #fcfcfc;
  color: #fcfcfc;
}

body.dark-mode .pyre__buttons button:hover {
  background-color: #fcfcfc;
  color: #0c0c0c;
}

.cursor {
  width: 30px;
  height: 30px;
  border: 1px solid currentColor;
  opacity: 1;
  border-radius: 50%;
  position: fixed;
  z-index: 99;
  -webkit-animation: cursorAnim 2s infinite alternate;
          animation: cursorAnim 2s infinite alternate;
  pointer-events: none;
}

.link-focus {
  border: 1px solid currentColor;
  opacity: 0.4;
  -webkit-transform: scale(2);
          transform: scale(2);
  -webkit-animation: none;
          animation: none;
  background-color: currentColor;
}

@-webkit-keyframes cursorAnim {
  from {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  to {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
}

@keyframes cursorAnim {
  from {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  to {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
/*# sourceMappingURL=styles.css.map */